@import 'mixins';
@import 'reset';
@import 'animate';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body, html {
  height: 100%;
}

body {
  font-size: 62.5%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: url('../assets/bg.jpg');
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

#container {
  width: 100%;
  height: 100%;
}

#loader {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  z-index: 9;

  .info {
    position: relative;
    height: 200px;
    top: 50%;
    margin-top: -50px;
  }

  .progressbar{
    width: 264px;
    margin: 20px auto;
    position: relative;

    #bg, #bar {
      position: absolute;
      top: 0;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.2);
      width: 264px;
      height: 10px;
    }

    #bar {
      background-color: #fff;
      transition-duration: 0.2s;
      width: 0;
    }
  }

  h1, h2 {
    color: #FFF;
    font-size: 5em;
    display: block;
    text-align: center;
    font-weight: 100;
    transition-duration: 2s;
  }

  h2 {
    font-size: 2em;
  }
}

#panelcontainer {
  position: absolute;
  top: 50px;
  left: 50px;
}

.panel {
  width: 600px;
  background-color: rgba(255 ,255 ,255 , .95);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
  overflow: hidden;
  transition-duration: 0.8s;
  position: relative;

  .buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    .button {
      margin: 0;
      width: 30px;
      height: 30px;
      box-shadow: none;
      margin-left: 5px;
      img {
        height: 18px;
        margin: 5px auto;
      }
    }
  }

  &#eqpanel {
    height: 125px;
  }

  &.closed {
    height: 0px !important;
    padding-top: 0;
    padding-bottom: 0;
  }


  #canvas {
    height: 200px;
    cursor: crosshair;
  }

  &#draw {
    padding: 0;

  }

  &#buttons {

  }

  &.userspanel {
    width: 250px;
  }

  .users {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    li {
      list-style: none;
      font-size: 1.6em;
      color: #666;
      display: block;
      height: 30px;
      text-transform: capitalize;
      .button {
        box-shadow: none;
        width: 25px;
        height: 25px;
        float: right;
        margin: 0;
        font-size: 0.7em;
        text-align: center;
        padding-top: 3px;
        color: green;

        img {
          height: 18px;
          margin: 0px auto;
        }

        &.disabled {
          color: #666;

        }
      }
    }
  }

  h1 {
    font-weight: 100;
    color: #666;
    font-size: 2em;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #DDD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    span{
      font-size: 0.7em;
      color: #AAA;
    }
  }

  .button {
    width: 74px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    transition-duration: 0.3s;
    border: 1px solid #DDD;
    float: left;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);

    img {
      width: 25px;
      height: 25px;
      margin: 11px auto;
      display: block;
      pointer-events: none;
    }

    &.disabled {
      opacity: 0.5;
      pointer: default;
      &:hover {
        border: 1px solid #DDD;
        cursor: default;
      }
    }
    &:hover {
      border: 1px solid #999;
      cursor: pointer;
    }
    &.active {
      border: 1px solid #F38630;
    }
    &.active:hover {
      background-color: rgba(255,255,255,0.7);
    }
  }

  .slider {
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 5px;
    width: 47.4%;
    float: left;
    margin: 10px;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
    &:nth-of-type(even) {
      margin-right: 0px;
      margin-left: 0px;
    }

    label {
      width: 22%;
      text-transform: uppercase;
      font-size: 1.5em;
      color: #999;
      display: inline-block;
      padding: 5px;
      font-weight: 100;
    }
  }

  input[type=range]{
    -webkit-appearance: none;
    height: 16px;

    background: none;
    padding-top: 4px;
    width: 75%;
    &::-webkit-slider-runnable-track {
        height: 8px;
        background: #ddd;
        border: none;
        border-radius: 3px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: goldenrod;
        margin-top: -4px;
    }

    &:focus {
        outline: none;
    }


  }
}

audio {
  position: absolute;
  top: 50px;
  left: 50px;
}
