<li data-socketid="{{socketid}}">

      <span>{{nickname}}</span>
      <div class="button">AVAILIBLE</div>
  {{#if button}}
  {{else}}
      <input type="text" name="nickname" value="{{nickname}}"/>
    {{/if}}
</li>
